$background-gradient-1: #b6b2ab;
$background-gradient-2: #b3afa7;

$background-gradient-3: #b8b5af;
$background-gradient-4: #78736b;

$background-gradient-5: #6f6862;
$background-gradient-6: #58504b;
$background-gradient-7: #5f574e;
$background-gradient-8: #625a51;

.button-style {
  flex-basis: 25%;
  background: #425062;
  color: #fff;
  padding: 15px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-right: solid 2px #3c4857;
  border-bottom: solid 2px #3c4857;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    //background-color: white;
    opacity: 0.8;
  }
  &:active {
    color: #7a7e85 !important;
  }
}
.Calculator_main_div {
  width: 100%;
  height: 100% !important;
  //background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    135deg,
    $background-gradient-1 0%,
    $background-gradient-2 25%,
    $background-gradient-3 25%,
    $background-gradient-4 50%,
    $background-gradient-5 50%,
    $background-gradient-6 75%,
    $background-gradient-7 75%,
    $background-gradient-8 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculator {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  background: #3a4655;
  box-shadow: 0 8px 50px -7px black;
  border-radius: 4px;
}

.show-calculation {
  display: flex;
  margin: 20px 25px;
  color: grey;
  flex-direction: column;
  overflow: hidden;
}

.result-calculation {
  font-size: 24px;
  flex: 1;
  display: flex;
  justify-content: right;
}

.dashed-line {
  flex: 1;
  margin-top: 10px;
  border-bottom: 1px dashed grey;
}

.final-result {
  font-size: 30px;
  flex: 1;
  margin: 15px 25px 10px 0px;
  display: flex;
  color: white;
  justify-content: right;
}

.button-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 415px) {
  .calculator {
    width: 100%;
    height: 100%;
  }
}
