.File {
  position: absolute;
  // border:2px solid black;
  // top: 5%;
  // left: 20%;
  // box-shadow: 0 17px 60px 4px rgba(0, 0, 0, 0.56);

  .Topbar {
    //border: 5px solid green;
    // padding:1rem;
    cursor: grab;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px 4px 0 0 !important;
    padding-right: 1rem;
    outline: none;
    &__Zindex_handler {
      width: 100%;
      display: flex;
      align-items: center;
      &_Icon {
        // border: 2px solid green;
        margin: 0;
        margin-left: 1.2rem;
        margin-right: 1rem;
        height: 3rem;
        img {
          width: 3rem;
          height: 3rem;
        }
      }
      &_Name {
        //border: 2px solid green;
        color: white;
        font-weight: bold;
        font-size: 1.7rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
      }
    }
    .Window_Buttons {
      display: flex;
      flex-direction: row;
      //border:2px solid black;
      align-items: center;
      cursor: pointer;
      div {
        margin: 0.5rem;
        width: 1.65rem;
        height: 1.65rem;
        border-radius: 50%;
        // margin-top: 1.6rem;
      }
      .Red {
        background-color: #eb5b26;
      }
      .Yellow {
        background-color: #e5c62a;
      }
      .Green {
        background-color: #27ae60;
      }
    }
  }
  .File_Config_Window {
    //border: 2px solid orange;
    border-radius: 0 0 4px 4px;
    width: 100%;
    height: 100%;
  }
}
.reset-position {
  translate: transform3d(0, 0, 0) !important;
}
@media (max-width: 415px) {
  .File_Config_Window,
  .File {
    width: fit-content !important;
    top: 5rem;
    left: 5%;
    // border: 2px solid red;
  }
}
