.login {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: relative;

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    background-color: #00000044;
    border-radius: 50%;
    padding: 2rem;
    cursor: pointer;
  }

  #login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > h1 {
      color: white;
      width: fit-content;
      margin: 0 auto;
      font-size: 4rem;
      letter-spacing: 1px;
      word-spacing: 3px;
    }
  }

  &__box {
    display: flex;
    & > button {
      border: none;
      outline: none;
      margin: 1rem 2rem;
      border-radius: 50%;
      background-color: transparent;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      & > img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
