$default-font-size:2rem;


.File_Explorer
{
    position:absolute;
  // border:2px solid black;
    height: fit-content;
   top:7%;
   left:19%;
   box-shadow: 0 17px 60px 4px rgba(0, 0, 0, 0.56);  
   width:75%;
    .Topbar 
    {
        //border:2px solid green;
       // padding:1rem;
        cursor:grab;
        height:5rem;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        border-radius:4px 4px 0 0;
        padding-right:1rem;
       
          outline:none;
          &__Zindex_handler
          {
             // border:2px solid green;
              width:100%;
          }
        
        .Window_Buttons 
        {
            display:flex;
            flex-direction:row;
            //border:2px solid black;
            cursor:pointer;
            div 
            {
                margin:.5rem;
                width:2rem;
                height:2rem;
                border-radius:50%;
                margin-top:1.6rem;
               
            }
            .Red 
            {
                background-color: #EB5B26 ;
                
            }
            .Yellow 
            {
                background-color: #E5C62A ;
            }
            .Green 
            {
                background-color: #27AE60 ;
            }
        }
      
        
    }
    &_Config_Window
    {
       //border:2px solid orange;
        //padding:3rem;
        height:67vh;
        width:65vw;
        .Path 
        {   
            display:flex;
           align-items: center;
           background-color: #ECF0F1 ;
           border-top:2px solid #909497;
            div :first-child
            {
              //  border:2px solid green;
              
                width:4rem;
                height:4rem;
               cursor:pointer;
                margin-top:1rem;
                img 
                {
                   
                }
            }
            div:last-child 
            {
                border:2px solid #909497;
                border-radius:3px;
                padding:.5rem;
                font-size:2rem;
                width:100%;
                margin-left:1rem;
                margin-right:1rem;
            }
          
        }
        .Lower_Segment 
        {
           // border:2px solid purple;
            overflow-y:auto;
            height:88%;
            background-color:white;
            border-radius:0 0 3px 3px;
          .headings
          {
              justify-content: space-between;
              font-size: $default-font-size;
              font-weight: bold;
              color:black;
                div 
                {
                    padding-top:.5rem;
                    padding-left:.5rem;
                    padding-right:.5rem;
                }
              .First 
              {
                  //border:2px solid red;
              }
              .Second 
              {
                //border:2px solid red;
                display:flex;
                width:50%;
                justify-content: space-around;
             
              
              }
          }
            .Row 
            {

               // border:2px solid red;
                padding:.5rem;
                display: flex;
                align-items: center;
                
               padding-left:1.2rem;
                   
            }
            .Content 
            {
                justify-content: space-between;
                cursor:pointer;
                transition:all .3s ease;
                .content-data 
                {
                    
                    width:50%;
                    //border:2px solid red;
                    display:flex;
                    justify-content: space-around;
                    
                    
                }
                &:hover 
                {
                    
                  filter:brightness(.9)
                }
                // &:active 
                // {
                //     filter:brightness(1.3);
                //     background-color: #909497;
                // }
            }
        }
    }
}

.form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    div 
    {
        display:inline-block;
       // border:2px solid red;
        position:relative;
        img 
        {
            width:3.5rem;
            height:3.5rem;
            //border:2px solid red;
            position: absolute;
          top:-2.1rem;
          left:1rem
        }
        div 
        {
            position: absolute;
            top:-2.1rem;
            left:5rem;
            font-size: $default-font-size;
            color:black;
            font-weight:bold;
        }
    }
    
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .white 
  {
      background-color: white;
  }
  .grey 
  {
      background-color: #ECF0F1 ;
  }