.Desktop {
  width: 100vw;
  height: 100vh;
  // border:2px solid red;
  position: relative;
  // background: url(https://res.cloudinary.com/drolmjcot/image/upload/q_auto:good/v1613837593/wallpaper_goadao.jpg);
  background-position: center;
  background-size: cover;

  /*.bg-video
    {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:-4;
        opacity:1;
        overflow:hidden;
        &-content
        {
            height:100%;
            width:100%;
            object-fit:cover;
        

        }

    }*/

  &_Icons_div {
    //border:2px solid red;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 1.7rem;
    .Icons {
      width: 7rem;
      height: 10rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
        margin-bottom: 0;
        margin-top: 1rem;
      }
      &__text {
        color: white;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 0.5rem;
      }
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: rgba(165, 203, 247, 0.3);
      }
      &:active {
        background-color: rgba(165, 203, 247, 0.5);
      }
    }
  }
}

.Color_Palatte {
  //border:2px solid black;
  width: 19.6rem;
  height: fit-content;
  position: absolute;
  bottom: 7rem;
  right: 5rem;
  border-radius: 2px;
  border-left: 9px solid rgba(41, 45, 48, 0.2);
  border-right: 9px solid rgba(41, 45, 48, 0.2);
  text-align: center;
  color: #615c64;
  font-size: 2rem;
  font-weight: bolder;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);

  &__First-div {
    // border: 2px solid red;
    margin-bottom: 1rem;
  }
  &__Second-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //border: 2px solid red;
    margin: 0.5rem 0 0.5rem 0;
    div {
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
      margin: 1rem;
      border: 3px solid black;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }

    .Pink {
      background-color: #f5cfcf;
    }
    .Purple {
      background-color: #d7bde2;
    }
    .Teal {
      background-color: #40e0d0;
    }
    .Grey {
      background-color: #abb2b9;
    }
  }
}
