.Desktop {
  width: 100vw;
  height: 100vh;
  // border:2px solid red;
  position: relative;
  // background: url(https://res.cloudinary.com/drolmjcot/image/upload/q_auto:good/v1613837593/wallpaper_goadao.jpg);
  background-position: center;
  background-size: cover;

  /*.bg-video
    {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:-4;
        opacity:1;
        overflow:hidden;
        &-content
        {
            height:100%;
            width:100%;
            object-fit:cover;
        

        }

    }*/

  &_Icons_div {
    //border:2px solid red;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 1.7rem;
    .Icons {
      //border:2px solid green;
      width: fit-content;
      margin: 1rem;
      text-align: center;
      font-size: 2rem;
      color: white;
      padding: 1rem;
      img {
        width: 6rem;
        height: 6rem;
      }
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: rgba(165, 203, 247, 0.3);
      }
      &:active {
        background-color: rgba(165, 203, 247, 0.5);
      }
    }
  }

  .Folders_Window_div {
  }
  .Files_Window_div {
    // border:2px solid blue;
  }
}

.Start_Menu {
  position: absolute;
  height: 80vh;
  width: 90rem;
  bottom: 4.8rem;
  left: 0;
  display: flex;
  border-radius: 0 4px 0 0;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  .Info_n_Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //border: 2px solid red;
    .User_Info {
      .dp_div {
        //border: 2px solid brown;
        display: flex;
        justify-content: center;
        padding: 1rem;
        img {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          border: 3px solid white;
        }
      }
      .User_Name {
        text-align: center;
        font-weight: bold;
        font-size: 2.6rem;
        color: black;
      }
    }
    .StartMenu__Content {
      max-height: 35rem;
      height: fit-content;
      margin-left: 2rem;
      margin-bottom: 2rem;
      &__Data {
        //border: 2px solid green;
        display: flex;
        padding: 0.5rem;
        font-size: 2rem;
        color: black;
        font-weight: bold;
        margin-bottom: 1rem;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: rgba(236, 240, 241, 0.7);
        }

        div,
        img {
          margin-right: 1.5rem;
        }
        img {
          width: 4rem;
          height: 4rem;
        }
        div {
        }
      }
    }
  }
  .Wallpaper_n_Widgets {
    flex: 2;
    margin-left: 0.5rem;
    // border-top: 9px solid rgba(41, 45, 48, 0.2);
    // border-bottom: 9px solid rgba(41, 45, 48, 0.2);
    // border-left: 9px solid rgba(41, 45, 48, 0.3);
    // border-radius: 0 4px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      // border: 2px solid red;
    }
    &__Top {
      position: relative;
      // max-height: 50%;
      margin: 1rem;
      margin-top: 2rem;
      div:first-child {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          width: 46rem;
          height: 28rem;
          border-radius: 4px;
          opacity: 0.9;
        }
      }
      .Left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(180deg);
        cursor: pointer;
        img {
          width: 3rem;
          height: 3rem;
        }
        transition: all 0.3s ease;
        &:hover {
          transform: rotate(180deg) scale(1.05);
        }
        &:active {
          transform: rotate(180deg) scale(0.8);
        }
      }
      .Right {
        position: absolute;
        // background-color: white;
        top: 50%;
        right: 0;
        cursor: pointer;
        img {
          width: 3rem;
          height: 3rem;
        }
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.8);
        }
      }
    }
    &__Bottom {
      max-height: 50%;
    }
  }
}

.Color_Palatte {
  //border:2px solid black;
  width: 19.6rem;
  height: fit-content;
  position: absolute;
  bottom: 7rem;
  right: 5rem;
  border-radius: 2px;
  border-left: 9px solid rgba(41, 45, 48, 0.2);
  border-right: 9px solid rgba(41, 45, 48, 0.2);
  text-align: center;
  color: #615c64;
  font-size: 2rem;
  font-weight: bolder;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);

  &__First-div {
    // border: 2px solid red;
    margin-bottom: 1rem;
  }
  &__Second-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //border: 2px solid red;
    margin: 0.5rem 0 0.5rem 0;
    div {
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
      margin: 1rem;
      border: 3px solid black;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.5);
      }
    }

    .Pink {
      background-color: #f5cfcf;
    }
    .Purple {
      background-color: #d7bde2;
    }
    .Teal {
      background-color: #40e0d0;
    }
    .Grey {
      background-color: #abb2b9;
    }
  }
}
.StartMenu__Content__Scrollable {
  //border: 2px solid purple;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    padding-right: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9ba1a4;
    cursor: pointer;
    width: 100%;
  }
}
